Unity_Files/Temp/*
Unity_Files/Library/*
Unity_Files/Assets/StreamedSceneBundles/*
*/build/*
*/Build/*
*/Builds/*

Unity/Assets/UnIDE/*

*.sln
*.userprefs
*.pidb
*.booproj
*.csproj
*.unityproj
.DS_Store
*.DS_Store
*.pyc
*.log

!*.gitignore

Unity/screenshot.png
Unity/build_log.txt

*.sw*
!*.swf

*.apk
Unity_Files/Assets/UnIDE.meta

Unity_Files/Assets/StreamingAssets/QCAR/unity.txt
Unity_Files/Assets/StreamingAssets/QCAR/unity.txt.meta